/********************************************
    Created on : 08/11/2015
    Author     : Diogo Ratto
*********************************************/
html, body {
    background: #FFFFFF;
    height: 100%;
    font-family: Verdana;
}

